/* Styles for desktops and laptops */

/* Media query targeting devices with a minimum screen width of 1000px (typical for desktops and laptops) */
@media only screen and (min-width: 1000px) {
    *, *::after, *::before {
        box-sizing: border-box;
    }
    
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        /*background-color: rgb(11, 173, 11);*/
        background-image: url('background/Sky-Background.jpg');
        text-align: center;
        margin: 0;
        padding: 0;
    }

    h3 {
        margin-top: 50px;
    }
    
    h4 {
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin-bottom: -28px;
    }
    
    p {
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        max-width: 800px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the paragraph within the container */
        margin-top: 30px;
    }
    
    #container {
        background-color: white;
        width: 1100px;
        min-height: 1000px; /* Set a minimum height as a fallback */
        margin: 0 auto; /* Center game container horizontally */
    }

    /*menu styling*/
    #loginMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px; /* Adjust as needed */
        height: 260px; /* Adjust as needed */
        background-color: #ffffff; /* White background */
        border: 1px solid #000; /* Add border with 2px width and black color */
        border-radius: 10px; /* Rounded corners */
        display: none;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #joinRoomMenu {
        position: absolute;
        font-family: 'Poppins', sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px; /* Adjust as needed */
        height: 280px; /* Adjust as needed */
        background-color: #ffffff; /* White background */
        border: 1px solid #000; /* Add border with 2px width and black color */
        border-radius: 10px; /* Rounded corners */
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #availableRooms {
        margin-bottom: 20px;
        font-family: 'Poppins', sans-serif;
        color: black;
        text-align: left;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        background-color: #f9f9f9;
    }

    #availableRooms h3 {
        margin-top: 0;
        font-size: 14px;
        text-align: center;
        color: black;
    }

    #lobbyMenu{
        position: absolute;
        font-family: 'Poppins', sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px; /* Adjust as needed */
        height: 480px; /* Adjust as needed */
        background-color: #ffffff; /* White background */
        border: 1px solid #000; /* Add border with 2px width and black color */
        border-radius: 10px; /* Rounded corners */
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Apply styles to lobbyMenu children */
    #lobbyMenu > * {
        margin: 10px 0; /* Add vertical margin for each child element */
    }

    /* CSS for connectedClients section */
    #connectedClients {
        margin-bottom: 20px;
        color: black;
        text-align: left;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        background-color: #f9f9f9;
    }

    #connectedClients p {
        margin: 5px 0;
        text-align: center;
    }

    #connectedClients h3 {
        margin-top: 0;
        font-size: 14px;
        text-align: center;
        color: black;
    }

    #chatBox {
        background-color: #fff; /* Background color for the chat box */
        padding: 10px;
        margin-bottom: 10px;
    }
    
    #messageContainer {
        height: 150px;
        max-height: 150px; /* Increase the maximum height */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    #messageInput {
        width: calc(100% - 80px); /* Adjust width minus button width */
        font-family: 'Poppins', sans-serif;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px;
    }
    
    #sendMessageButton {
        width: 70px; /* Adjust button width */
        font-family: 'Poppins', sans-serif;
        padding: 8px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #sendMessageButton:hover {
        background-color: #45a049;
    }

    #endMenu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px; /* Adjust as needed */
        height: 450px; /* Adjust as needed */
        background-color: #ffffff; /* White background */
        border: 1px solid #000; /* Add border with 2px width and black color */
        border-radius: 10px; /* Rounded corners */
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Style for the input box */
    #username, #password {
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 250px;
        text-align: center; /* Center text within the input box */
    }

    /* style for input box validation message */
    #errorMessage1, #errorMessage2, #errorMessage3{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: -5px;
        display: none;
        text-align: center;
        font-weight: bold;
    }
    
    /* style for loginMenu & joinRoomMenu */
    #loginButton {
        display: block;
        margin: 20px auto; /* Center horizontally with margin */
        width: 300px;
        height: 30px;
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border: 1px solid #ccc; /* Subtle gray border */
        border-radius: 4px;
        cursor: pointer;
    }

    .room-button {
        display: block;
        margin: 20px auto; /* Center horizontally with margin */
        width: 300px;
        height: 30px;
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border: 1px solid #ccc; /* Subtle gray border */
        border-radius: 4px;
        cursor: pointer;
    }

    #readyButton, #startGameButton {
        display: block;
        margin: 15px auto; /* Center horizontally with margin */
        width: 300px;
        height: 30px;
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border: 1px solid #ccc; /* Subtle gray border */
        border-radius: 4px;
        cursor: pointer;
    }

    #backToJoinRoomButton {
        position: absolute;
        top: 0px; /* adjust as needed */
        left: 10px; /* adjust as needed */
        padding: 5px 9px; /* size for a small but acceptable button */
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border: 1px solid #ccc; /* Subtle gray border */
        border-radius: 4px;
        cursor: pointer;
    }

    #loginButton:hover, #joinRoomButton:hover, .room-button:hover, #readyButton:hover, #startGameButton:hover, #nextGameButton:hover, #play:hover {
        background-color: #28a745;
        color: white;
    }

    #pass:hover {
        background-color: #f0ad4e;
        color: white;
    }

    #quitGameButton:hover, #backToJoinRoomButton:hover {
        background-color: #f04034;
        color: white;
    }

    #nextGameButton {
        display: block;
        margin: 0 auto; /* Center horizontally with 10px top and bottom margin */
        margin-top: 100px;
        width: 300px;
        height: 30px;
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border-radius: 4px;
    }

    #quitGameButton {
        display: block;
        margin: 0 auto; /* Center horizontally with 10px top and bottom margin */
        margin-top: 15px;
        width: 300px;
        height: 30px;
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        border-radius: 4px;
    }

    /*leaderboard styling*/
    #leaderboard {
        padding: 0 20px; /* Add padding to create a gap on both sides */
        margin-top: 20px;
    }
    
    #leaderboard table {
        width: 100%;
        border-collapse: collapse;
    }
    
    #leaderboard th,
    #leaderboard td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    #leaderboard th {
        background-color: #f2f2f2;
    }
    
    #leaderboard th:first-child,
    #leaderboard td:first-child {
        width: 70%; /* Adjust as needed */
    }
    
    #gameContainer {
        width: 1000px;
        height: 650px;
        background-image: url('background/green-background-alt.jpg');
        background-size: cover; background-position: center;
        background-repeat: no-repeat; /* Prevent the image from repeating */
        text-align: center;
        font-size: 0.8rem;
        position: relative;
        margin: 0 auto; /* Center game container horizontally */
    }
    
    
    /*gameDeck styling*/
    #gameDeck > div {
        position: absolute;
        top: 50%; /* Place it vertically in the middle */
        left: 50%; /* Place it horizontally in the middle */
        transform: translate(-50%, -50%); /* Center it perfectly */
    }
    
    /*gameDeck styling*/
    #finishedDeck > div {
        position: absolute;
        top: 60%; /* Place it vertically in the middle */
        left: 50%; /* Place it horizontally in the middle */
        transform: translate(-50%, -50%); /* Center it perfectly */
    }
    
    #gameInfo {
        position: absolute;
        display: none;
        top: 95%; /*67.8*/
        left: 92.5%;
        transform: translate(-50%, -50%); /* Center the element precisely */
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
        padding: 6px;
        backdrop-filter: blur(1px); /* Adjust the blur value as needed */
        border-radius: 8px; /* Adjust the border-radius value as needed */
    }

    .playerInfo {
        display: none;
        background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    
        padding: 10px; 
        backdrop-filter: blur(1px); 
        border-radius: 8px; 
    }

    #p0Info{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #p1Info{
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    #p2Info{
        position: absolute;
        top: 22.8%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #p3Info{
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);
    }
    
    .button {
        transition-duration: 0.4s;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        padding: 4px 8px; /* Adjust padding to increase button size */
        border-radius: 4px;
    }
    
    /* play hand, and pass buttons*/
    #pass {
        position: absolute;
        bottom: 10px; /* Adjust this value to set the distance from the bottom */
        left: 52.5%;
        display: none;
    }
    
    #play{
        position: absolute;
        bottom: 10px; /* Adjust this value to set the distance from the bottom */
        left: 42.5%;
        display: none;
    }
    
    #turn{
        display: inline;
        margin-left: 125px;
    }
}




/* Media query targeting devices with a maximum screen width of 780px (iphone 12 mini and smaller in landscape mode) */
@media only screen and (max-width: 780px) {
    *, *::after, *::before {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        /*background-color: rgb(11, 173, 11);*/
        background-image: url('background/Sky-Background.jpg');
        margin: 0;
        padding: 0;
    }
    
    #container {
        background-color: white;
        width: 100%; /* Adjusted to fit within the viewport */
        min-height: 1000px; /* Set a minimum height as a fallback */
        padding: 0 10px; /* Added padding to maintain readability and spacing */
    }
    
    h3 {
        margin-top: 30px; /* Reduced margin for smaller screens */
    }
    
    h4 {
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        margin-bottom: -20px; /* Adjusted margin for smaller screens */
    }
    
    p {
        font-family: 'Helvetica', sans-serif;
        font-size: 14px; /* Reduced font size for smaller screens */
        line-height: 1.5;
        text-align: center;
        max-width: 100%; /* Adjusted to fit within the viewport */
        margin: 0 auto; /* Center the paragraph within the container */
        margin-top: 20px; /* Reduced margin for smaller screens */
    }
    
    #gameDeck > div,
    #finishedDeck > div {
        position: absolute;
        top: 50%; /* Place it vertically in the middle */
        left: 50%; /* Place it horizontally in the middle */
        transform: translate(-50%, -50%); /* Center it perfectly */
    }
    
    #gameInfo {
        position: absolute;
        top: 75%; /* Adjusted position for smaller screens */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the element precisely */
        font-size: 12px; /* Reduced font size for smaller screens */
        background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
        padding: 8px; /* Reduced padding for smaller screens */
        backdrop-filter: blur(1px); /* Adjust the blur value as needed */
        border-radius: 10px; /* Adjust the border-radius value as needed */
    }
    
    .button {
        transition-duration: 0.4s;
        font-size: 14px; /* Reduced font size for smaller screens */
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 200;
        padding: 4px 8px; /* Adjust padding to increase button size */
        border-radius: 4px;
    }
      
    .button:hover {
        background-color: #d2b48c;
        color: white;
    }
    
    
    #pass,
    #play {
        position: absolute;
        bottom: 10px; /* Adjust this value to set the distance from the bottom */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
        font-family: 'Poppins', sans-serif;
    }
    
    #play {
        left: calc(50% - 60px); /* Adjusted position for smaller screens */
        font-family: 'Poppins', sans-serif;
    }
    
    #turn {
        display: inline;
        margin-left: 0; /* Removed margin for smaller screens */
    }
}

/* Media query targeting devices with a screen width between 780px and 999px */
@media only screen and (min-width: 781px) and (max-width: 999px) {
    /* Add your styles for devices with a width between 780px and 999px here */
}



